name: LMS cicd pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install server dependencies
          run: |
            cd server
            npm install

      - name: Install client dependencies and build frontend
           run: |
            cd server
            npm install
            npm run build

      - name: Run tests
          run: |
            cd server
            npm test||echo "No tests defined"

      - name: Deploy to EC2 instance
        env:
          PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          HOST: ${{ secrets.EC2_HOST }}
          USER: ubuntu
        run: |# Create SSH key file from the secret
          echo "$PRIVATE_KEY" > private_key.pem
          chmod 600 private_key.pem
          ssh -o StrictHostKeyChecking=no -i private_key.pem ${USER}@${HOST} '
            cd /home/ubuntu/library-management &&
            git pull origin main &&
            cd server &&
            npm install &&
            pm2 restart library-management || pm2 start server.js --name bootcamp-management
          '
        
          
          
  
